.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}
td img{
  width: 30px;
  height: 30px;
}
.row:hover{
  background: aliceblue;
}
